@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* ---------------------------- GENERAL SETTINGS ---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  box-sizing: border-box;
  background: #f1f1f1;
  font-family: "Nunito", sans-serif;
  font-size: calc(15px + 0.390625vw);
  height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

/* ---------------------------- App Design ---------------------------- */
.app {
  height: 100vh;
}
.pages {
  max-width: 1400px;
  margin: 0 auto;
}

/* ---------------------------- Header ---------------------------- */
.header {
  /* Position */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Size */
  max-width: 80%;
  padding: calc(4px + 0.5625vw) 0;

  /* Design */
  border-bottom: 1px solid #e6e6e6;
}
.logo {
  width: 240px;
}
.logo img {
  width: 100%;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: calc(4px + 0.5625vw);
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}
.user-email {
  padding: calc(4px + 0.5625vw);

  font-size: small;
  color: #656464;
  user-select: none;
}

/* ---------------------------- Login + Register ---------------------------- */
.form,
.content {
  /* Size */
  margin: calc(8px + 1.5625vw) auto;
  width: 40%;
  padding: 20px;
  /* Design */
  border-radius: 4px;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  /* Size */
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  /* Design */
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  font-family: inherit;
}

.form-group label {
  display: block;
  margin: 0 0 5px 3px;
  text-align: left;
}

.btn {
  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  /* Design */
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;

  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  appearance: button;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

/* ---------------------------- MAIN PAGE ---------------------------- */
/* homepage */
.home {
}
/* Create player */
.form-create-player {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  /* Design */
  border-bottom: 1px solid #e6e6e6;
}
.form-group-vertical {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group-vertical input,
.form-group-vertical textarea,
.form-group-vertical select {
  /* Size */
  width: 100%;
  padding: 10px;
  /* Design */
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  font-family: inherit;
}
/* Pitch + Players */
.edit-container {
  width: 100%;
  padding: 0 calc(8px + 1.5625vw) calc(8px + 1.5625vw) calc(8px + 1.5625vw);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Pitch */
.pitch {
  position: relative;

  width: 60%;
  overflow: hidden;
  border: #232323 solid 3px;
  border-radius: 10px;
}
.pitch img {
  display: block;
  width: 100%;
}

.teams {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.left-team,
.right-team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;

  width: 50%;
  height: 100%;
  padding: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: calc(4px + 1.0625vw);

  cursor: default;
  user-select: none;
}
.grid-item h4 {
  text-transform: capitalize;
}

.player-image-container {
  width: 40%;
}
.player-image-container img {
  width: 100%;
}
/* Player Details */
.players {
  /* Position */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: scroll;
  overflow-x: hidden;
  /* Size */
  padding: 20px;
  width: 38%;
  height: 70vh;
  /* Design */
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px 0px inset;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.player-details {
  position: relative;
  margin: calc(4px + 0.5625vw) auto;

  padding: calc(4px + 0.5625vw);
  width: 90%;

  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.player-details h4 {
  margin: 0 0 4px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.player-power {
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  font-size: 0.9em;
  color: #555;
}
.player-details span {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.assign-team {
  margin-top: 5px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.assign-team p {
  cursor: pointer;
}
.assign-team .right {
  color: #db3167;
}
.assign-team .left {
  color: #313fdb;
}
/*Delete button */
.player-details .delete {
  position: absolute;
  top: calc(4px + 0.5625vw);
  right: calc(4px + 0.5625vw);
  padding: 6px;

  cursor: pointer;
  border-radius: 50%;
  background: #f1f1f1;
  color: #333333;
}

/* Useful Componenets */
.green-button {
  margin: 5px;
  padding: 10px;

  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 4px;
  background: var(--primary);
  font-family: "Nunito", sans-serif;
}
.error {
  padding: 10px;

  background: #ffefef;
  border: 1px solid var(--error);
  border-radius: 4px;
  font-size: 0.9rem;
  color: var(--error);
}

/* ---------------------------- RESPONSIVE DESIGN ---------------------------- */
@media screen and (max-width: 1366px) {
  .players {
    height: 60vh;
  }
  h4 {
    font-size: 1rem;
  }
  .player-details h4 {
    font-size: 1rem;
  }
  .player-power {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1024px) {
  .players {
    grid-template-columns: repeat(1, 1fr);
    height: 45vh;
  }
}
@media screen and (max-width: 768px) {
  .edit-container {
    flex-direction: column;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 30vh;
    margin-bottom: 15px;
  }
  .pitch {
    width: 100%;
  }
  .form {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
}
